 /* .body{
    min-height:61.1vh;
} */


   .bodyContent {
    min-height:100vh;
    height:100%;
    margin-bottom:-44px;
   }

/* 
@media (max-width: 576px){
    .body{
        min-height:64.5vh;
    }
    
  }  */